body{
  background-color: #2b3452;
  color: white;
}
*{
  color: white;
}
.home-page{
  text-align: center;
  margin-top: 100px;
}
.home-page h1{
  margin-right: 200px;
}
header h1{
  margin-left: 200px;
}
.root{
  transform: translate(70%, -230%);
}
.root a{
  text-decoration: none;
  margin: 20px;
  color: white;
  font-size: 1.1em;
  padding: 10px;
}
.root a.active{
  border: 2px solid red;
  background-color: red;
  border-radius: 5px;
} 
.about{
  text-align: center;
  margin-top: 100px;
}
.about h1{
  margin-right: 200px;
}
.help-layout{
  margin-left: 0px;
}
.help-layout p{
  margin-left: 30px;
}
.help-layout nav a{
  margin: 50px;
  text-decoration: none;
  font-size: 1.1em;
  border: 2px solid red;
  padding: 10px;
  border-radius: 2px;
}
.help-layout nav{
  margin-top: 50px;
  transform: translate(20%, 0%);
}
.faq{
  margin-top: 60px;
}
.faq h1{
  margin-left: 500px;
  margin-bottom: 80px;
}
.faq .qns{
  margin: 20px;
}
.faq .qns div{
  padding: 20px;
  border: 2px solid grey;
  margin-bottom: 20px;
  text-shadow: 2px 2px grey;
}
.contact{
  margin-top: 100px;
  margin-left: 350px;
  width: fit-content;
  border: 2px solid crimson;
  padding: 20px;
}
.contact h2{
  margin-bottom: 50px;
}
.contact form input{
  margin-left: 20px;
  margin-bottom: 20px;
}
.home-page p{
  padding: 20px;
}
.about p{
  padding: 20px;
}
.shop-list a{
  text-decoration: none;
}
.shop-instance {
  border: 2px solid grey;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  display: block;
  background-color: rgb(96, 96, 117);
}
.error a{
  font-size: 1.2em;
  margin-left: 200px;
}
.shop-details{
  text-align: center;
  padding: 20px;
  border: 2px solid salmon;
  background-color: rgb(96, 96, 117);
}
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > *{
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #ddd;
}
.formdata, button{
  color: black;
}
.formdata input[type="text"]{
  color: black;
}
.logout{
  border: 2px solid red;
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 10px;
}